
body{
    background:rgb(246, 246, 248);
}

img.logo-docplanner {
    background: rgb(247, 246, 248);
    width: 348px;
    height: 70px;
    box-sizing: inherit;
    display: block;
    font-size: 2em;
}


.menu {
    line-height: 2em;
    padding: 4.33em 101px;
    padding-top: 0px;
    padding-bottom: 0px; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: hsla(0,0%,100%,.98);
    transition: box-shadow .25s ease 0s;
    box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 15%);
    flex-basis: 200px;
}

a { 

    font-size: larger;
    color:  rgb(32 165 153);
    width: 200px;
    justify-content:center;
    display: inline;
    float: left;
    text-decoration: none;
    text-align-last: center;
    font-size: larger;
 
}

h2{
    margin:1em 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(100 193 166);
    text-align: center;
    

}

.lead-logo{
    display: block;
    width: 5%;
    margin:-21px 600px;
    max-width: 100%;
    height: auto;
    box-sizing: inherit;
    text-align: center;
}


main {
    justify-content: center;
}
.grid {
  display: grid;
  column-gap: 200px;
    
}
p {
 
    margin-block-end: 1em;
    margin-inline-start: 60px;
    margin-inline-end: 60px;
background: #1cdfc640;
    row-gap: 50px;
    border:black;
    border-radius: 80%;
    text-align: center;
font-family: 'Times New Roman', Times, serif;

}
h3{

    display: block;
margin-inline-end: 687px;
    font-style: italic;

}
.col-3{
    color: #09544d;
    writing-mode: horizontal-tb;
    column-gap: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    column-count: 3;
    letter-spacing: 1px;
    border-radius: 24px;
box-shadow: 0 0 27px rgb(0 0 0);
    margin: 0.75rem auto 0.5rem;

}
.col-3 .style-select { 
       display: inline-block;
       background: revert;
border: dashed;
       color: #009688;
       font-family: Roboto,Arial,sans-serif;
       text-align: center;
       
}
ul{

    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
h4 {
    display: block;
    color: #0b5e57;
    text-overflow: clip;
}
    
.brands__logos {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0;
    list-style: none;
    width: 80%;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.brands__logos li {
    font-size: 0rem;
    display: inline-block;
    margin-top: 0;
    padding: 5px 0 5px 5px;
    color: #fff;
    text-shadow: none;
}
.grid{

    display: grid;
    column-gap: 200px;
    justify-content: space-evenly;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjOnh881XPns6Tx82VOhmbR7MG-pV1uBXlrRvJ1rmQDTxI7b0l);
}


.join-us {
    margin: 5rem auto;
}
.section__inner {
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}
*, :after, :before {
    box-sizing: inherit;
}

section {
    display: block;
}

.stats {
    background: #e5faf8;
    background-image: linear-gradient(-45deg,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
    padding: 1.875em 0 0.625em;
    overflow: hidden;
    margin: 3.125rem auto 5.5rem;
}
*, :after, :before {
    box-sizing: inherit;
}
h6 {
    margin: 1em 0;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}
h5{
    margin: 1em 0;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}
img {
    max-width: 70%;

    border-radius: 50%;
    margin: -10px 21px;
    box-sizing: inherit;
}

.stats {
    background: #e5faf8;
    padding: 1.875em 0 0.625em;
    overflow: hidden;
    margin: 3.125rem auto 5.5rem;
}
.offices__header {
    max-width: 460px;
    margin: 0 auto 4.1875rem;
    font-size: .875em;
    text-align: center;
}
.offices__header h7 {
    font-size: 2.1428571429em;
}
.offices__slider {
    margin: 0 -10px;
    zoom: 1;
}


.button  {
    background-color: #009688;
    border: #051314;
    color: white;
    padding: -1px 31px;
    text-align: initial;
    text-decoration: none;
    font-size: 14px;
}
.office__image img {
    display: block;
  
    width: 100%;
}